---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Testimonial Page">
  <main>
    <section>
      <div class="star">⭐️</div>
      <h1>Reviewers</h1>
      <p>
        Reviewers is where people can access guidelines, checklists, and other
        tools to assist them in reviewing papers or manuscripts. It provides a
        structured approach to ensure that the review process is thorough,
        efficient, and consistent.
      </p>
      <ul>
        <li>Checklist to Review an Academic Paper</li>
        <li>Peer Review Checklist</li>
        <li>Checklist for Editors, Reviewers, and Authors of SPIE Journals</li>
      </ul>
    </section>
    <section class="reviews">
      <div class="review">
        <Card
          company="/logos/google-testimonial.png"
          stars={4}
          author="Samantha Lee"
          body="The checklist ensures that the review process is thorough"
        />
      </div>
      <div class="review-2">
        <Card
          company="/logos/meta-testimonial.png"
          stars={5}
          author="Rachel Patel"
          body="I highly recommend the Writecream Business Description"
        />
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: row;
    padding: 10rem 20rem;
  }
  .star {
    background-color: #f5c044;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    margin: 0 2rem;
    width: 50%;
  }
  h1 {
    font-size: 2.25rem;
    color: #18181b;
    margin: 0.75rem 0;
  }
  p {
    font-size: 1.25rem;
    color: #52525a;
    margin: 0.75rem 0;
  }
  ul {
    color: #52525a;
    list-style: none;
    padding-left: 0;
  }

  li {
    position: relative;
    padding-left: 35px;
		padding-top: 0.85rem;
		font-size: 0.875rem;
  }

  li::before {
    content: "";
    background-image: url("/Done_ring_round_fill.svg");
    background-size: contain;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
  }
  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .review {
    display: flex;
    justify-content: end;
  }
  @media (max-width: 1280px) {
    main {
      padding: 10rem 2rem;
    }
  }
  @media (max-width: 768px) {
    main {
      flex-direction: column;
      padding: 5rem 0.1rem;
      gap: 3rem;
    }
    section {
      width: 88%;
    }
    .reviews {
      gap: 3rem;
    }
  }
</style>
