---
interface Props {
  company: string;
  stars: number;
  body: string;
  author: string;
	className?: string;
}

const { company, author, body, stars, className } = Astro.props;
---

<article class={className}>
  <header>
    <img class="company" src={company} alt="" />
    <div>
      {
        [...Array(5)].map((_, i) => (
          <img
            src={i < stars ? "/Star_fill.svg" : "/Star_fill_gray.svg"}
            alt="Stars"
          />
        ))
      }
    </div>
  </header>
  <body
    ><h2>{author}</h2>
    <p>{body}</p>
  </body>
</article>

<style>
  article {
    background-color: white;
    width: 318px;
    padding: 20px 1px 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  header {
		display: flex;
		align-items: center;
		gap: 1.2rem;
  }
  .company {
    width: 88px;
  }
  h2 {
    font-size: 1rem;
		margin-bottom: 0.5rem;
  }
  p {
    width: 85%;
		margin: 0;
		color: #52525A;
  }
</style>
